
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 0px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 600px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1516178062216-1 {
            width: 466px;
            min-height: 93px;
            background-color: transparent;
            top: 178px;
            left: 340px;
        }
    